* {
    margin: 0;
    padding: 0;
    font-family: 'ROBOTO', sans-serif;

}


body {
    /* height: 100vh;
    width: 100vw; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(156, 240, 246), rgb(247, 220, 184));

}

label,
p {
    color:  rgb(124, 69, 176);
}
input {
    height: 30px;
    border: 1.2px solid rgb(153, 85, 217);
    border-radius: 3px;
    background: transparent;
}


p {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 35px;
}
#message {
    height: 55px;
}

.formBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;

}

.username-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-field {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#firstName, 
#lastName {
    width: 250px;

}

#submitBtn {
    width: 100%;
    height: 40px;

    background-color: rgb(153, 85, 217);
    color: white;
    border: none;

    border-radius: 2px;
}